<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo App</title>

	<link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
	<div class="todo-container">
		<h2>To-Do List</h2>
		<div class="todo">
			<form action="/" method="POST" class="todo-header">
				<input type="text" name="content" placeholder="Write...">
				<button type="submit">
					<!-- fa fa-plus: + btn-->
					<span class="fa fa-plus"></span>
				</button>
			</form>
			<ul class="todo-list">
				<li class="todo-list-item">
					<div class="todo-list-item-name">...</div>
					<a href="#" class="edit">
						<!-- fa fa-edit: edit btn -->
						<span class="fa fa-edit"></span>
					</a>
					<a href="#" class="remove">
						<!-- fa fa times: remove btn-->
						<span class="fa fa-times"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
