* {
	margin: 0;
	padding: 0;
	/* box-sizing:border-box; */
}

/* 배경색 */
body {
	background-color: #939597;
}

.todo-container {
	/* 정가운데 정렬 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 500px;
	height: 500px;

	background-color: #F5DF4D;

	border-radius: 20px;
	border: double 4px #939597;

	text-align: center;
}

.todo-container h2 {
	margin: 20px;

	font-family: 'Courier New', Courier, monospace;
	color: #939597;
}


/* TODO-HEADER */
/* .todo form input { */
.todo form input {
	width: 300px;
	height: 25px;

	margin-bottom: 20px;
	
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: #939597;

	background-color: #F5DF4D;
	font-family: 'Courier New', Courier, monospace;
}

.todo form button {
	border: none;

	background-color: #F5DF4D;
	color: #939597;
}

.todo form button:hover {
	transform: scale(1.2);
	color: #86888a;
}


/* TODO-LIST */
.todo-list ul  {
	/* list-style-type: none; */
}

.todo-list li {
	list-style-type: none;
}

.todo-list .todo-list-item-name {
	display: inline-block;

	margin: 5px 10px 5px 0;

	font-family: 'Courier New', Courier, monospace;
	color: #939597;
}

.todo-list #edit {
	text-decoration: none;
	color: #939597;
}

.todo-list #edit:hover {
	transform: scale(1.2);
	color: #86888a;
}

.todo-list #remove {
	text-decoration: none;
	color:#939597;
}

.todo-list #remove:hover {
	transform: scale(1.2);
	color: #86888a;
}

.todo-list input {
	color: #939597;
}
